.task-container {
	background-color: #1F3F72;
	margin: 8px 0;
	padding: 15px 20px;
	display: flex;
	border-radius: 5px;
	justify-content: space-between;
	color: #eee;
	align-items: center;
	text-align: center;
}

.task-container:hover {
	background-color: #112340;
	color: #eee;
	
}

.task-title {
	cursor: pointer;
}

.buttons-container {
	width: 30%;
	display: flex;
	justify-content: flex-end;
}

.remove-task-button,
.see-task-details-button {
	background-color: #1F3F72;
	border: none;
	font-size: 24px;
	color: #eee;
	margin: 0 5px;
}
.remove-task-button:hover,
.see-task-details-button:hover{
	background-color: #112340;
	color: #eee;
} 